
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    margin-bottom: 5px;
}
.direction ol{
    list-style: none;
    border: 1px solid rgb(79, 161, 199);
    border-radius: 15px;
    font-family: 'Markazi Text', serif;
    background-color: rgb(180, 226, 235);
    padding: 10px;
}
ul li {
    display: inline;
    padding: 10px;
}
.row{
    text-align: center;
    padding: 10px;
}
#targetNum{
    border: 1px dotted rgb(79, 161, 199);
    border-radius: 5px;
}
#scoreBoard{
    border: 1px dotted rgb(79, 161, 199);
    border-radius: 5px;
    font-weight: bold;
}
#totalScore{
    border: 1px dotted rgb(79, 161, 199);
    border-radius: 5px;
}
.crystal-images{
    display: inline;
    position: relative;
    left: 20%;
}
.crystal-images img:hover{
    cursor: pointer;
    transform: scaleX(-1);
}

.selection h4{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    margin-top: 10px;
}
.footer {
	bottom: 0;
	width: 100%;
    background-color: black;
	text-align: center;
	padding: 10px;
}
